<div class="container pt-3">
  <button pButton label="Save Review" class="p-button-sm" ></button>
  <button pButton label="Save & Send Later" class="p-button-outlined p-button-sm" ></button>
  <button pButton label="Discard Info" class="p-button-outlined p-button-sm" ></button>

  <p-card>
    <span>Review ID: Content</span>
    <span>Created By: Example 321</span>
  </p-card>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-12">
      <label for="firstname">To Users</label>
      <input id="firstname" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-12">
      <label for="lastname">Subject</label>
      <input id="lastname" type="text" pInputText>
    </div>

    <div class="p-field p-col-6 p-md-6">
      <label for="state">Review Scope</label>
      <p-dropdown id="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select Project" optionLabel="name"></p-dropdown>
    </div>
    <div class="p-field p-col-6 p-md-6">
      <label for="state2">Specification</label>
      <p-dropdown id="state2" [options]="states" [(ngModel)]="selectedState" placeholder="Specification" optionLabel="name"></p-dropdown>
    </div>

    <div class="p-field p-col-12 p-md-12">
      <label for="address">Review Agenda/Description</label>
      <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
    </div>

  </div>

  <p-table [value]="products" styleClass="p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Specification Name</th>
        <th>Type</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.title}}</td>
        <td>{{product.s_name}}</td>
        <td>{{product.type}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
