<p-splitter [style]="{'height': '100%'}" [panelSizes]="[80,20]" class="web-splitter">
  <ng-template pTemplate>

   1

  </ng-template>
  <ng-template pTemplate>

    2

  </ng-template>
</p-splitter>
<div class="container-fluid mobile-splitter">
  <div class="row">
    <div class="col-12">
<!--      <app-review-selected-sp-left></app-review-selected-sp-left>-->
    </div>
    <div class="col-12">
<!--      <app-review-selected-sp-right></app-review-selected-sp-right>-->
    </div>
  </div>
</div>


