<p-splitter [style]="{'height': '100%'}" [panelSizes]="[50,50]" class="web-splitter">
  <ng-template pTemplate>

      <app-splitter-left></app-splitter-left>

  </ng-template>
  <ng-template pTemplate>

    <app-splitter-right></app-splitter-right>

  </ng-template>
</p-splitter>
<div class="container-fluid mobile-splitter">
  <div class="row">
    <div class="col-12">
      <app-splitter-left></app-splitter-left>
    </div>
    <div class="col-12">
      <app-splitter-right></app-splitter-right>
    </div>
  </div>
</div>


