.p-datatable{
  margin-bottom: 15px;
  .p-datatable-thead > tr > th{
    background: #342f57 !important;
    color: #fff !important;
    border: 1px solid #342f57 !important;
    font-weight: 400 !important;
    font-size: 14px;
  }
  .p-datatable-tbody {
    tr {
      &:nth-child(even) {
        background: #f7f6f9 !important;
      }
      td{
        font-weight: 400 !important;
        font-size: 14px;
      }
    }
  }
}
